@import '../css-config/mixins.scss';
body{
    margin: 0;
    padding: 0;
}

.main-header{
    width: 100%;
    // padding: 0 20px;
    background-color: #ffffff;
    color: #000000;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 1.0);
    z-index: 99;

    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin: 0 auto;
        max-width: 1350px;
        @include for-tablet-portrait-up{
            height: 80px;
            padding: 0 40px 0 0;
        }
        @include for-phone-only{
            padding: 0 20px;
        }
        
        .left{
            img{
                max-width: 60px;
            }
        }

        .center{
            ul{
                list-style-type: none;
                display: flex;
                gap: 25px;
                align-items: center;
                margin-bottom: 0;
                
                li{
                    font-size: 17px;
                    font-weight: 600;
                    text-transform: uppercase;
                    cursor: pointer;
                    
                    a{
                        text-decoration: none;
                        color: #000000;
                    }
                }
                @include for-phone-only{
                    display: none;
                }
            }
            .mobile-menu{
                font-size: 22px;
                @include for-desktop-up{
                    display: none;
                }
                @include for-big-desktop-up{
                    display: none;
                }
                @include for-phone-only{
                    display: block;
                    margin-right: 60px;
                }
                @include for-tablet-portrait-up{
                    display: block;
                }
                @include for-tablet-landscape-up{
                     display: none;   
                }
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 20px;
            
            svg{
                font-size: 20px;
                cursor: pointer;
            }
            .cart-icon{
                position: relative;
                
                span{
                    min-width: 20px;
                    text-align: center;
                    background-color: #8e2de2;
                    padding: 2.5px;
                    position: absolute;
                    top: -5px;
                    right: -12px;
                    font-size: 12px;
                    line-height: 1;
                    border-radius: 10px;
                }
            }

            li{
                list-style: none;
                
                a{
                color: #000000;
                text-decoration: none;
                }
            }
        }
    }
}