@import '../../css-config/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');


.hero-banner{
    position: relative;
    @include for-tablet-landscape-up{
        height: calc(100% - 80px);
    }
    .content{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .slider-images{
            // padding: 0 3rem;

            @include for-phone-only{
                // padding: 0 1rem;
            }
        }
    }   
}